.App {
  text-align: center;
}

.daoLogo {
  width: 350px;
  margin-bottom: 20px;
}

.centeredContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginContainer {
  display: flex;
  justify-content: center;
  gap: 20px; /* Bileşenler arasında boşluk bırakmak için */
}

.GoogleLoginWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.proposalButton {
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(90deg, #ACE2E1, #F7EEDD);
  border-color: #fff;
}

.proposalButton:hover {
  border-color: white; /* Hover durumunda border rengini beyaz yap */
}

/* Ekstra stil kuralları */
.App-logo {
  height: 50vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
